# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.log

# Java Spring Boot
target/
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
.idea/
*.class
*.project
*.classpath
.settings/
bin/
out/

# Expo
node_modules/
npm-debug.log
yarn-error.log
.expo/
.expo-shared/
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.rej
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.DS_Store
*.log
*.tmp
*.temp



backend/llm/data/