fastapi
uvicorn
ollama
chromadb
langchain
fitz
torch
torchvision
torchaudio
transformers
datasets
PyPDF2
huggingface-hub
transformers
accelerate
httpx
intel-tensorflow
tensorflow==2.18.0
numpy
pandas
