fastapi
uvicorn
ollama
chromadb
langchain
fitz
torch
torchvision
torchaudio
transformers==4.17.0
datasets
PyPDF2
huggingface-hub
transformers
accelerate
httpx
intel-tensorflow
tensorflow==2.17.0
numpy
pandas
tf-keras
